.carousel{
    display: flex;
    max-width: 100%;
    position: relative;

    &__feed{
        padding: 0;
    }

    &__title{
        font-weight: 400;
        font-size: 1.7rem;
        margin-block: 0.5em 0;
    }

    &__item{
        display: none;
        flex-direction: column;
        row-gap: 1em;
        justify-content: center;
        padding: 2em 3rem;
        min-height: 60vh;
        
        background-repeat: no-repeat;
        background-size: cover;
        
        &.active{
            display: flex;
        }
        &:first-child{
            background-image: url("../assets/images/carousel-bg.png");
        }
        &:nth-child(2),
        &:nth-child(3){
            background-image: url("../assets/images/carousel-bg2.png");
        }
    }

    &__next, &__prev{
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        width: 12px;
        height: 24px;
        max-height: fit-content;
        
        border: 0;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__prev{
        background-image: url("../assets/icons/arrow-left.png");
        
        left: 1em;
    }
    &__next{
        background-image: url("../assets/icons/arrow-right.png");

        right: 1em;
    }

    &__read-more{
        align-self: flex-end;
        max-width: fit-content;
        border: 1px solid hsl(var(--clr-orange));
        border-radius: 15px;
        background-color: white;
        padding: 0.5em 3em;
        color: hsl(var(--clr-orange));
    }
}