@use "../abstracts/mixins" as *;

.nav {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: start;

    @include mq(desktop){
      grid-column: 2/3;
      grid-row: 1;
      align-self: center;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 100%;
    height: 100vh;
    padding: 0;
    padding-top: 3em;
    padding-left: 2em;
    background-color: rgba($color: hsl(0, 0%, 100%), $alpha: 0.95);
    color: hsl(0, 0%, 0%);
    font-size: 1.3rem;
    list-style-type: none;
    text-transform: uppercase;
    transform: translateX(-100vw);
    transition: transform 300ms;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    &.open{
        transform: translateX(0);
    }

    @include mq(desktop){
        flex-direction: row;
        column-gap: 1em;
        padding: 0;
        padding-right: 1em;
        font-size: 1rem;
        height: auto;
        transform: none;

        position: static;
    }
}

.nav__item{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-color: transparent;
    transition: all 250ms;
        
    &:hover,
    &:focus,
    &--active{
        color: hsl(var(--clr-orange));
        text-decoration: underline;
        text-underline-offset: 0.2em;
        text-decoration-color: inherit;
    }
}

.nav__icon {
    background-image: url("../assets/icons/nav-open.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    background-color: transparent;
    min-width: 60px;
    min-height: 24px;
    cursor: pointer;
    border: 0;

    position: absolute;
    top: calc((var(--header-padding) + var(--logo-height))/2);
    right: 2em;
    z-index: 4;

    &.close {
        background-image: url("../assets/icons/nav-close.svg");
    }

    @include mq(desktop){
        display: none;
    }
}